[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/core"]
	path = lib/core
	url = https://github.com/symbioticfi/core
[submodule "lib/burners"]
	path = lib/burners
	url = https://github.com/symbioticfi/burners
[submodule "lib/hooks"]
	path = lib/hooks
	url = https://github.com/symbioticfi/hooks
